.image-slider-container {
    position: relative;
    width: 90%;
    height: 700px; 
    overflow: hidden;
    margin:0 auto ;
    margin-top: 6rem;
  }
  
  .slider-images {
    display: flex;
    transition: transform 1s ease; 
  }
  
  .slider-item {
    min-width: 100%;
    /* height: 100%; */
  }
  
  .slider-item img {
    width: 100%; 
    object-fit:cover; 

  }
  
  .slider-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;
  }
  
  .dot {
    width: 11px;
    height: 11px;
    background-color: rgb(160, 161, 170);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .dot.active {
    background-color: rgba(255, 255, 255, 1);
    width: 13px;
    height: 13px;
  }
  
  .dot:hover {
    background-color: rgba(255, 255, 255, 1);
  }

  @media (max-width: 768px) {
    .image-slider-container {
      width: 100%; 
      margin:0 auto ;
      margin-top: 2rem;
      height: 300px; 
    }
  
    .slider-item img {
      width:100%;
      height: 300px; 
    }
  }
  @media (max-width: 568px) {
  
    .slider-item img {
      height: 250px; 
    }
  }